* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: aliceblue;
}

.dark-mode {
  background-color: rgb(11, 11, 15);
  color: white;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-btns {
  margin-left: auto;
}

.nav-btns button {
  margin-right: 2rem;
}

button {
  border: none;
  color: gray;
  font-weight: 600;
  border-radius: 0.2rem;
  background: transparent;
  font-size: 1rem;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#mode-toggle {
  background-image: url('assets/theme-light-dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0.8rem;
}

h2 {
  display: inline-block;
  margin: 3rem 0;
  font-size: 4rem;
  border-bottom: 2px solid tomato;
}

.sub-header {
  margin-top: 5rem;
}

p {
  font-size: 1.1rem;
}

li {
  list-style: none;
}

table {
  width: 50%;
  border-collapse: collapse;
  text-align: left;
}
th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #0a0a0a91;
}

#content {
  padding-top: 3rem;
}

#hero-section {
  height: 600px;
}

.page-logo {
  text-shadow: 0px 0px 10px rgba(197, 197, 197, 0.425);
  font-size: 1.5rem;
  background: linear-gradient(
    65deg,
    rgb(204, 63, 63),
    rgb(247, 92, 53),
    rgb(231, 89, 89),
    rgb(250, 108, 72)
  );
  background-clip: text;
  color: transparent;
}

.card {
  height: 350px;
  width: 350px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.2rem;
  padding: 0.5rem;
  text-shadow: 0px 0px 10px rgb(14, 14, 20);
  margin: 1rem;
  border-radius: 0.4rem;
}

span {
  background-color: rgba(0, 0, 0, 0.479);
  padding: 0.2rem;
  border-radius: 0.3rem;
}
