* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode {
  background-color: aliceblue;
}

.dark-mode {
  background-color: rgb(11, 11, 15);
  color: white;
}

button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border: none;
  border-radius: 0.2rem;
  background: linear-gradient(
    65deg,
    rgb(98, 98, 255),
    rgb(124, 124, 255),
    rgb(86, 86, 255)
  );
  color: white;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  opacity: 0.9;
}

button:active {
  scale: 0.98;
}

#mode-toggle {
  background-image: url('assets/theme-light-dark.svg');
  background-color: rgb(74, 119, 255);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 1rem;
  position: fixed;
  right: 0.7rem;
  top: 1rem;
}

h2 {
  display: inline-block;
  margin: 3rem 0;
  font-size: 3rem;
  border-bottom: 2px solid tomato;
}

p {
  background-color: rgb(175, 157, 255);
  padding: 2rem 0;
  font-size: 1.1rem;
}

li {
  list-style: none;
}

#hero-section {
  margin: 3rem auto;
  height: 500px;
}
